.section {
  position: relative;
  	/*
  		#announcementDemo {
  			cursor: pointer;
  			z-index: 2;
  			content: url("https://danielzelfo.github.io/img/shopsupreme.png");
  			width: 33%;
  			position: relative;
  			left: 50%;
  			transform: translate(-50%);
  
  			&:hover {
  
  				animation: fadeOut 1s forwards;
  			}
  		
  		}
  		#announcementDemo2 {
  			cursor: pointer;
  			z-index: 1;
  			content: url("https://danielzelfo.github.io/img/shopsupreme2.png");
  			width: 33%;
  			position: relative;
  			left: 50%;
  			transform: translate(-50%, -100%);
  		}
  		*/ }
  .section:first-child {
    margin-top: 150px; }
  .section .more {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; }

.black span:hover {
  color: #0366d6  !important;
  background-color: white;
  border: 1px solid black;
  padding: 4px; }

h1, h2, h3, h4, p {
  display: inline-block;
  opacity: 0.75;
  font-weight: bold;
  font-family: Arial; }

h1:hover, h2:hover, h3:hover, h4:hover, p:hover {
  opacity: 1; }

h1, h2 {
  font-family: Arial Black; }

#githubLink img {
  filter: invert(100%); }

#socialMediaBlock {
  displaY: inline-block; }
  #socialMediaBlock a {
    text-decoration: none; }
  #socialMediaBlock * img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid transparent; }
    #socialMediaBlock * img:hover {
      background-color: rgba(0, 0, 0, 0.25); }
  #socialMediaBlock #linkedInLink img:hover, #socialMediaBlock #githubLink img:hover {
    width: 58px;
    height: 58px;
    border: 2px solid black;
    filter: invert(75%); }

.row {
  position: relative;
  display: block;
  width: 100%;
  font-size: 0; }
  .row .cell {
    position: inherit;
    display: inline-block;
    width: 24%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
    overflow: hidden; }
    .row .cell::before {
      top: 0;
      left: 0;
      content: "";
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
    .row .cell::after {
      position: absolute;
      font: bold 20px Arial;
      color: white;
      width: 100%;
      height: 100%;
      line-height: 50vh;
      text-align: center;
      left: 50%;
      transform: translate(-50%);
      cursor: pointer; }
  .row .wearableWeather::before {
    background-image: url("https://danielzelfo.github.io/portfolio/img/wearableWeather.png"); }
  .row .wearableWeatherHovered::before {
    background-image: url("https://danielzelfo.github.io/portfolio/img/wearableWeatherLive.png"); }
  .row .wearableWeatherHovered::after {
    content: "Wearable Weather"; }
  .row .sortingAnimations::before {
    background-image: url("https://danielzelfo.github.io/portfolio/img/sortingAnim/selectrand.PNG"); }
  .row .sortingAnimationsHovered::before {
    background-image: url("https://danielzelfo.github.io/portfolio/img/sortingAnim/selectrand.gif"); }
  .row .sortingAnimationsHovered::after {
    content: "Sorting Animations"; }
  .row .mipsSudoku::before {
    background-image: url("https://danielzelfo.github.io/portfolio/img/mipsSudoku/mipsSudoku4.png"); }
  .row .mipsSudokuHovered::before {
    background-image: url("https://danielzelfo.github.io/portfolio/img/mipsSudoku/mipsSudoku5.png"); }
  .row .mipsSudokuHovered::after {
    content: "MIPS Sudoku"; }
  .row .astra::before {
    background-image: url("https://danielzelfo.github.io/portfolio/img/astra/astracommands1.png"); }
  .row .astraHovered::before {
    background-image: url("https://danielzelfo.github.io/portfolio/img/astra/amazon3080.png"); }
  .row .astraHovered::after {
    content: "Astra"; }
  .row .cellHovered::before {
    animation: tilt 1s forwards; }
  .row .cellHovered::after {
    animation: grey .5s forwards; }

#row1 {
  display: inline-block;
  width: 100%;
  /*
  >* {
  	width: 49.5%;
  }
  */ }

/*
#announcements {
	float: left;
}
*/
#aboutSection {
  dispaly: block; }
  #aboutSection .about {
    text-align: center; }
  #aboutSection .LI-profile-badge {
    position: absolute;
    left: 50%;
    transform: translate(-50%); }

#contact {
  text-align: center; }

#portfolio {
  text-align: center; }

/*
#services {
	text-align: center;
	height: 600px;
	.title{
		height: 50px;
		h1{
			line-height: 0;
		}
	}
	.container{
		height: 550px;
		div{
			background-size: cover;
			background-attachment: fixed;
		  *{
			position: relative;
			top: 50%;
			transform: translate(0, -50%);
			opacity: 1;
		  }
		}
		.left-half {
		  	background-color: #DBAD76;
			background-image: url("https://danielzelfo.github.io/img/service_webdev.jpg");
			color: $lightColorLight;
			text-shadow: 0px 0px 10px black;
		}

		.right-half {
			background-color: $lightColorLight;
			background-image: url("https://danielzelfo.github.io/img/service_tutoring.jpg");
		    color: black;
			text-shadow: 0px 0px 10px $lightColorLight;
		}
	}
}

@media only screen and (max-aspect-ratio: 3/2) {
	#services{
		margin-top: 45px;
		.container{
			div{
		  width: 100% !important;
		  height: 50%;
		}
			}
		
	}
	
}

@media only screen and (min-aspect-ratio: 3/2) {
#services {
	.container{
		position: relative;
		div{
		  width: 50%;
		  height: 100% !important;
		}

		.left-half {
		  left: 0;
		  position: absolute;
		}

		.right-half {
		  right: 0;
		  position: absolute;
		}
	}
}
}
*/
@media only screen and (max-aspect-ratio: 3 / 2) {
  .row .cell {
    width: 90% !important; }

  #row1 > * {
    width: 100% !important; }

  .section:first-child {
    margin-top: 180px; } }
@keyframes tilt {
  from {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotate(0); }
  to {
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    transform: rotate(6deg); } }
@keyframes grey {
  from {
    background-color: none; }
  to {
    background-color: rgba(128, 128, 128, 0.5); } }
@keyframes fadeOut {
  0% {
    opacity: 100%; }
  100% {
    opacity: 0%; } }
